!*.gitkeep
files/outputs/**/*.json
files/outputs/**/*.geojson
files/outputs/**/*.dxf
gdal_geojson_project/files/outputs/**/*.json
gdal_geojson_project/files/outputs/**/*.geojson
gdal_geojson_project/files/outputs/**/*.dxf
